<%= simple_form_for contact, class: 'form-horizontal', id: 'contact-form', remote: true do |form| %>
  <div class="control-group">
    <%= form.label :name, class: 'control-label' %>
    <div class="controls">
      <%= form.text_field :name, placeholder: 'Your name', class: 'form-control input-lg', required: true %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :email, class: 'control-label' %>
    <div class="controls">
      <%= form.text_field :email, type: 'email', class: 'form-control input-lg', placeholder: 'Your email address', required: true %>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :message, class: 'control-label' %>
    <div class="controls">
      <%= form.text_area :message, rows: 8, class: 'form-control input-lg', required: true %>
    </div>
  </div>
  <div class="form-actions">
    <%= form.button :submit, 'Submit Message',  class: 'btn btn-default btn-lg btn-block' %>
  </div>
<% end %>
